.card {
  width: 500px;
  height: 420px;
  border: 3px solid #000;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.description img {
  max-width: 100%;
  border-radius: 50%;
  background-color: #2a2a2a;
  height: 180px;
  width: 180px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}

.tag {
  margin-top: 10px;
  color: gray;
}

.location {
  margin-top: 10px;
  color: gray;
}

.stats {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 2px solid #ccc;
  margin-top: auto;
  height: 80px;
  background-color: gainsboro;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  border-right: 2px solid #ccc;
}

.stats-item:last-child {
  border-right: none;
}

.stat-value {
  font-weight: 700;
}
